<%- include('../partials/headerPartial.ejs') %> 

<p>THIS IS THE GROCERY LIST PAGE</p>

<table>
    <tr>
        <td>Item</td>
        <td>Done?</td>

        <td>no</td>
    </tr> 
</table>



<%- include('../partials/footerPartial.ejs') %>


