<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@300" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>MealPlan</title>
</head>
<body>
  <nav>
    <a href="/meals/new">ADD MEAL</a> 
    <a href="/meals">GROCERY LIST</a>
    <a href="/">HOME</a>
    <% if (user) { %>
      <a href="/logout">LOGOUT</a>
    <% } else { %>
      <a href="/auth/google">LOGIN</a>
    <% } %>
  </nav>
  <main>
