<%- include('./partials/headerPartial.ejs') %> 
<br><br>
<table>
    <thead>
        <tr>
            <th>Meal Type</th>
            <th>Details</th>
        </tr> 
    </thead>
    <tbody>
        <% allMealsReferenceForEJS.forEach(function(eachMeal) { %>
        <tr>
            <td class="type">
                <%= eachMeal.mealType %>
            </td>
            <% eachMeal.groceries.forEach(function(item) { %>
            <td class="content">
                <%= item.content %>
            </td>
            <% }) %>
        </tr> 
        <% }) %>
    </tbody>
</table>

<%- include('./partials/footerPartial.ejs') %>
