<%- include('./partials/headerPartial.ejs') %> 

<p>THIS IS THE HOME PAGE</p>
<table>
    <thead>
        <tr>
            <th>Meal Type</th>
            <th>Details</th>
        </tr><br>  
    </thead>
    <tbody>
        <% allMealsReferenceForEJS.forEach(function(eachMeal) { %>
        <tr>
            <td>
                <%= eachMeal.mealType %>
            </td>
            <% eachMeal.groceries.forEach(function(item) { %>
            <td>
                <%= item.content %>
            </td>
            <% }) %>
        </tr><br> 
        <% }) %>
    </tbody>
</table>

<%- include('./partials/footerPartial.ejs') %>
